extends layout

block content

  nav
    .nav-wrapper
      a.brand-logo= __appTitle
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a home
        li
          a( href=__appHomePage ) github
  .row.z-depth-1
    #controlPanel.col.s12
  .row.z-depth-1
    #result.col.s12
