extends layout

block content

  nav
    .nav-wrapper
      a.brand-logo= __appTitle
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a home
        li
          a( href=__appHomePage ) github
  .container.z-depth-1
    .row 
      .col.s12.l6.offset-l3 
        p= __appDescription 
  .row.z-depth-1
    #controlPanel.col.m5
    #result.col.m7   
