extends layout

block content
  main
    .fixed-action-btn.top
      a.btn-floating.btn-large.waves-effect.waves-light.sidenav-trigger(href="#" data-target="slide-out" )
        img( src="/images/favicon/apple-touch-icon.png" width="100%")
    .row.z-depth-1
      #controlPanel.col.s12
    .row.z-depth-1
      #result.col.s12

block scripts
  script.
    $(document).ready(function(){
     $('.sidenav').sidenav({edge:"right"});
    });
