extends layout

block content
  main
    .fixed-action-btn.actionsButton
      a.btn-floating.btn-large.waves-effect.waves-light
        img(src="/images/favicon/apple-touch-icon.png", width="100%")
      ul
        li#saveButton
          a.btn-floating.yellow.darken-1
            i.material-icons save

        li
          a.btn-floating.red.sidenav-trigger(href="#", data-target="slide-out")
            i.material-icons menu

        li
          form(action="#")
            .file-field.input-field
              .btn-floating.green
                i.material-icons upload
                input#csv(type="file")
              .file-path-wrapper
                input.file-path.validate.hide(type="text")
        li
          a#loadDB.btn-floating.blue
            i.material-icons cloud_download

    .row.z-depth-1
      #controlPanel.col.s12
    .row.z-depth-1
      .col.s12
        ul.tabs
          li.tab.col.s3
            a(href="#result") Result
          li.tab.col.s3
            a(href="#parallelCoordinatesPlotPanel") Parallel Coordinates Plot

      #ParallelCoordinatesPlotPanel.col.s12
      #result.col.s12

block scripts
  script.
    $(document).ready(function () {
      $(".fixed-action-btn").floatingActionButton({ hoverEnabled: true, direction: "bottom" });
      M.Tabs.getInstance(".tabs");

      instance.select("result");
    });
