extends layout

block content
  main
    .fixed-action-btn.actionsButton
      a.btn-floating.btn-large.waves-effect.waves-light
        img( src="/images/favicon/apple-touch-icon.png" width="100%")
      ul
        li#saveButton
          a.btn-floating.yellow.darken-1
            i.material-icons save
          
        li 
          a.btn-floating.red.sidenav-trigger(href="#" data-target="slide-out" )
            i.material-icons menu
        //- file input 
        li 
          form(action="#")
            div.file-field.input-field
              div.btn-floating.green
                i.material-icons upload
                input#csv(type="file")
              div.file-path-wrapper
                input.file-path.validate(type="text").hide
        li
          a#loadDB.btn-floating.blue
            i.material-icons cloud_download


    .row.z-depth-1
      #controlPanel.col.s12
    .row.z-depth-1
      #ParallelCoordinatesPlotPanel.col.s12
    .row.z-depth-1
      #result.col.s12
block scripts
  script.
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton({hoverEnabled:true, direction:'bottom'});
    });
