@import "./_tamarinColors.scss";
$ellipse-size: 5px;
svg {
  width:100%;
}

// Unselectable text
tspan {
  user-select: none;
}

ellipse {
  rx:$ellipse-size;
  ry:$ellipse-size;
}

.labelArea {
  stroke: lightgray;
  fill: transparent;
}
